<%= form_with(scope: :bookstatus, url: bookstatuses_path, local: true) do |form| %>

	<select name="bookstatus[read_status]">
	  <option value="1">Want to read</option>
	  <option value="2">Currently reading</option>
	  <option value="3">Read</option>
	</select>

	<p>
	<%= form.hidden_field :user_id, value: current_user.id %>
	</p>

	<%= form.hidden_field :book_id, value: helpme.book.id %>


  <p>
	<%= form.submit %>
  </p>
<% end %>