<br>
<!-- ********************************** -->

<!-- checks book status. if does not exist status is 0 -->
<!-- statusnow is required for statusShelfButton variable in dropdown@showbook.js -->
<!-- this would allow the function to check current status -->

<div class="btn-group book-id" id=<%= book.id %>>

  <button class="btn btn-success dropdown-toggle" type="button" id="status-shelf" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Want to Read
  </button>

  <div class="dropdown-menu read-status-now">
  	<!-- //value here is read_status value -->
    	<button class="dropdown-item" id="drop-down-button" type="button" value="1">Want to Read</button>
    	<button class="dropdown-item" id="drop-down-button" type="button" value="2">Currently Reading</button>
    	<button class="dropdown-item" id="drop-down-button" type="button" value="3">Read</button>

  </div>
 </div>