$primary-color: #bcb1b3;
$secondary-color: #dec8c1;
$tertiary-color: #ede2d5;
$quaternary-color: #f4eee9;
$quinary-color: #f3f1ee;

body {
	background-color: white;
}

nav {
	font-size: 50px;
	display: flex;
	background-color: $quinary-color;
	width: 80px;
}

a, nav {
	color: #000000;
}

a:hover, nav {
	color: $primary-color;
}

i {
	margin: 15px 10px 14px 10px;
}

.grey-text, .star-color-2 {
	color: #CCCCCC;
}

.star-color {
	color: #ffc700;
	padding: 0;
	margin-right: 0;
}

.star-color-2 {
	padding: 0;
	margin-left: 0;
}


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.pagination{
	margin-top:5px;
	margin-bottom: 5px;
}

.pagination > a,em,span {
	padding:5px;
}

a:hover {
	text-decoration: none;
}

.booklist {
	background-color: $primary-color;
	padding: 10px;
	border-radius: 5px;
	color: black;
	display: inline-block;
	width: 75%;
	height: 95%;
	margin: 3px;
	font-weight: 700;
}

.booklist-custom {
	background-color: $secondary-color;
	padding: 10px;
	border-radius: 5px;
	color: black;
	display: inline-block;
	width: 75%;
	height: 95%;
	margin: 3px;
	font-weight: 700;
}

.booklist:hover {
	background-color: $tertiary-color;
	color: black;
}

.booklist-custom:hover {
	background-color: $tertiary-color;
	color: black;
}

li {
	list-style: none;
	// margin: 18px;
}

ul {
	padding: 15px;
}

#search-results{
	display:flex;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	width:350px;

}

.search-bar-item > a{
	order: 2;
}

.search-bar-list {
 	margin-top: 0px;
 	margin-bottom: 0px;
	border: 1px solid black;
	background-color:#ECE9D8;
}

.imgs {
	width: 150px;
	margin-bottom: 10px;
}

.col-4 {
	text-align: right;
}

.container {
	width: 650px;

.search-bar-img {
	width: 52px;
	height: 70px;
}