$primary-color: #ff98ac;
$secondary-color: #ffbf9b;
$tertiary-color: #ffe9c6;
$quaternary-color: #fff9d6;
$quinary-color: #fffde5;
$action-color: #419d59;
$hover-color: #dc9e70;
$support-color: #ececec;

$edit-color: #46a4f4;
$delete-color: #f23a31;


$secondary-nav-font-size: 20px;

body {
	background-color: white;
}

nav {
	font-size: 50px;
	display: flex;
	background-color: $primary-color;
	width: 116px;
	height: 100%;
	margin: 0px;
}

nav a {
	font-weight: bold;
	color: #000000;
}

nav a:hover {
	color: #FFFFFF;
}

a {
	color: #000000;
	font-weight: 700;
}

a:hover {
	color: $primary-color;
}

nav i {
	margin: 15px 10px 14px 10px;
}

.edit-color {
	color: $edit-color;
}

.delete-color {
	color: $delete-color;
}

.grey-text, .star-color-2 {
	color: #CCCCCC;
}

.star-color {
	color: #ffc700;
	padding: 0;
	margin-right: 0;
}

.star-color-2 {
	padding: 0;
	margin-left: 0;
}


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.pagination{
	margin-top:5px;
	margin-bottom: 5px;
}

.pagination > a,em,span {
	padding:5px;
}

a:hover {
	text-decoration: none;
}

%mininav {
	padding: 10px 10px 10px 40px;
	// border-radius: 5px;
	color: black;
	display: inline-block;
	width: 75%;
	height: 95%;
	font-weight: 700;
	font-size: $secondary-nav-font-size;
	margin: 0px;
}

.booklist {
	@extend %mininav;
	background-color: $primary-color;
	padding: 10px 10px 10px 20px;
}

.indentleft {
	@extend %mininav;
	background-color: $support-color;
}

.booklist-custom {
	@extend %mininav;
	background-color: $support-color;
}

.booklist:hover, .indentleft:hover {
	background-color: $primary-color;
	color: black;
}

.booklist-custom:hover {
	background-color: $primary-color;
	color: black;
}

li {
	list-style: none;
	// margin: 18px;
}

ul {
	padding: 0px;
	margin: 0px;
}

#search {
	background-color: $tertiary-color;
	color: #000000;
	border: none;
}

#search-results{
	display:flex;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	width: 93%;
}

.search-btn {
	border: 2px solid $secondary-color;
	background-color: $secondary-color;
	padding: 16px;
	margin: 0;
	font-size: 15px;
}

.search-item{
	background-color: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
}

.search-form {
	width: 93%;
	color: #000000;
	padding: 13px;
	font-size: 20px;
}

.search-form::placeholder {
	color: $hover-color;
}

.search-bar-list {
 	margin-top: 0px;
 	margin-bottom: 0px;
	border: 1px solid black;
	background-color:#ECE9D8;
}

.imgs {
	width: 150px;
	margin-bottom: 10px;
}

.col-4 {
	text-align: right;
}

.container {
	width: 650px;
}

.search-bar-img {
	width: 52px;
	height: 70px;
}


.edit-review:hover{
	cursor: pointer;
}

.search-form{

}

.padding0 {
	padding: 0 !important;
	margin: 0 !important;
}

#show-input {
	background-color: $action-color;
	padding: 10px 10px 10px 20px;
	// border-radius: 5px;
	color: black;
	display: inline-block;
	width: 75%;
	font-weight: 700;
	font-size: $secondary-nav-font-size;
	margin: 0px;
}

#show-input:hover {
	background-color: $quaternary-color;
}

.action-btn {
	background-color: $action-color;
	padding: 9px 12.5px 10px 12.5px;
	border-radius: 5px;
	margin: 3px;

	a {
		font-weight: 400;
		color: #FFFFFF;
	}

	a:hover {

	}

}

.action-btn:hover {
	background-color: green;
}

#new-list {
	padding: 11px;
	width: 62%;
	border: 0;
	background-color: $quaternary-color;
	margin: 0;
}

#list-button {
	border: 0;
	background-color: $secondary-color;
}

#list-button:hover {
	background-color: #FFFFFF;
}